<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Year's Eve Countdown</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="script.js" defer></script>
</head>
<body>
<h1>Welcome to New Year Countdown</h1>
<div class="countdown-container">
    <div class="countdown days">
        <p class="time" id="days">0</p>
        <span>days</span>
    </div>
    <div class="countdown hours">
        <p class="time" id="hours">0</p>
        <span>hours</span>
    </div>
    <div class="countdown minutes">
        <p class="time" id="minutes">0</p>
        <span>minutes</span>
    </div>
    <div class="countdown seconds">
        <p class="time" id="seconds">0</p>
        <span>seconds</span>
    </div>
</div>

</body>
</html>